        Pandas-DataFrames Part-3

In [1]:
import numpy as np
import pandas as pd

In [10]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [11]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [12]:
inside

[1, 2, 3, 1, 2, 3]

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [26]:
from numpy.random import randn
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [22]:
df

             A         B
G1 1 -1.336217  0.529869
   2 -1.047004  2.012293
   3  0.260357  0.516953
G2 1  0.213876  0.289339
   2  0.571717  0.921645
   3  0.267194  1.045135

In [27]:
df.loc['G1']

          A         B
1  1.473411  0.554366
2 -1.179268 -0.317469
3 -0.608219 -1.027482

In [30]:
df.index.names=['Groups','Num']

In [31]:
df

                   A         B
Groups Num
G1     1    1.473411  0.554366
       2   -1.179268 -0.317469
       3   -0.608219 -1.027482
G2     1   -1.019815 -0.285418
       2   -0.160148 -1.544814
       3    1.766676  0.405597

In [34]:
df.loc['G2'].loc[2]['B']

-1.5448140469857254

In [35]:
df.loc['G1']

            A         B
Num
1    1.473411  0.554366
2   -1.179268 -0.317469
3   -0.608219 -1.027482

In [37]:
df.loc['G1'].loc[2]['B']

-0.31746920073361906

In [38]:
df.xs('G1')

            A         B
Num
1    1.473411  0.554366
2   -1.179268 -0.317469
3   -0.608219 -1.027482

In [39]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.473411  0.554366
G2     -1.019815 -0.285418