        Pandas-Operations

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({
    'col1':[1,2,3,4],
    'col2':[444,555,666,444],
    'col3':['abc','def','ghi','xyz']})

In [3]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [5]:
len(df['col2'].unique())

3

In [6]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [7]:
df['col2'].nunique()

3

In [8]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

In [14]:
df[(df['col1']>2)&(df['col2']==444)]# df[df['col1']>2]

   col1  col2 col3
3     4   444  xyz

In [11]:
df['col1']>2

0    False
1    False
2     True
3     True
Name: col1, dtype: bool

In [15]:
def times2(x):
    return x*2

In [16]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64