In [1]:
import pandas as pd
import datetime

# 1.

In [2]:
cir=pd.read_csv('circuits.csv')

In [3]:
cir.head(1)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...

In [4]:
cir.drop('url',axis=1,inplace=True)

In [5]:
cir.rename(columns={'circuitId':'circuit_Id','circuitRef':'circuit_Ref'},inplace=True)

In [6]:
cir['time_stamp']=datetime.datetime.now()

In [7]:
cir.head(1)

,circuit_Id,circuit_Ref,name,location,country,lat,lng,alt,time_stamp
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10,2025-03-27 18:52:02.595864

In [8]:
cir.to_csv('row_circuit.csv',index=False)

# 2.

In [9]:
cons=pd.read_json('constructors.json',lines=True)

In [10]:
cons.head(1)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren

In [11]:
cons.drop('url',inplace=True,axis=1)

In [12]:
cons.rename(columns={'constructorId':'constructor_Id','constructorRef':'constructor_Ref'},inplace=True)

In [13]:
cons['time_stamp']=datetime.datetime.now()

In [14]:
cons.head(1)

,constructor_Id,constructor_Ref,name,nationality,time_stamp
0,1,mclaren,McLaren,British,2025-03-27 18:52:02.734391

In [15]:
cons.to_csv('row_constructors.csv',index=False)

# 3

In [16]:
dri=pd.read_json("drivers.json",lines=True)

In [17]:
dri.head(1)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [18]:
d=dri['name']

In [19]:
d.head(1)

0    {'forename': 'Lewis', 'surname': 'Hamilton'}
Name: name, dtype: object

In [20]:
# d.items

In [21]:
dri_name=[]
for key,value in d.items():
    dri_name.append(value['forename']+' '+value['surname'])

In [22]:
dri['name']=dri_name

In [23]:
dri.head(2)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld

In [24]:
dri.drop('url',axis=1,inplace=True)

In [25]:
dri.rename(columns={'driverId':'driver_Id','driverRef':'driver_Ref'},inplace=True)

In [26]:
dri['time_stamp']=datetime.datetime.now()

In [48]:
dri.head(10)

,driver_Id,driver_Ref,number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,2025-03-27 18:52:02.993223
1,2,heidfeld,\N,HEI,Nick Heidfeld,1977-05-10,German,2025-03-27 18:52:02.993223
2,3,rosberg,6,ROS,Nico Rosberg,1985-06-27,German,2025-03-27 18:52:02.993223
3,4,alonso,14,ALO,Fernando Alonso,1981-07-29,Spanish,2025-03-27 18:52:02.993223
4,5,kovalainen,\N,KOV,Heikki Kovalainen,1981-10-19,Finnish,2025-03-27 18:52:02.993223
5,6,nakajima,\N,NAK,Kazuki Nakajima,1985-01-11,Japanese,2025-03-27 18:52:02.993223
6,7,bourdais,\N,BOU,Sébastien Bourdais,1979-02-28,French,2025-03-27 18:52:02.993223
7,8,raikkonen,7,RAI,Kimi Räikkönen,1979-10-17,Finnish,2025-03-27 18:52:02.993223
8,9,kubica,88,KUB,Robert Kubica,1984-12-07,Polish,2025-03-27 18:52:02.993223
9,10,glock,\N,GLO,Timo Glock,1982-03-18,German,2025-03-27 18:52:02.993223

In [28]:
dri.to_csv('row_drivers.csv',index=False)

# 4.

In [29]:
pit=pd.read_json('pit_stops.json')

In [30]:
pit.head(2)

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021

In [31]:
pit.rename(columns={'raceId':'race_Id','driverId':'driver_Id','milliseconds':'milli_seconds'},inplace=True)

In [32]:
pit['time_stamp']=datetime.datetime.now()

In [33]:
pit.head(2)

,race_Id,driver_Id,stop,lap,time,duration,milli_seconds,time_stamp
0,841,153,1,1,17:05:23,26.898,26898,2025-03-27 18:52:03.131841
1,841,30,1,1,17:05:52,25.021,25021,2025-03-27 18:52:03.131841

In [34]:
pit.to_csv('row_driver.csv',index=False)

# 5

In [35]:
rac= pd.read_csv('races.csv')

In [36]:
rac.head(2)

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...

In [37]:
rac.drop('url',inplace=True,axis=1)

In [38]:
rac.rename(columns={'raceId':'race_Id','circuitId':'circuit_Id','name':'race_name'},inplace=True)

In [39]:
rac['time_stamp']=datetime.datetime.now()

In [40]:
rac.head(1)

,race_Id,year,round,circuit_Id,race_name,date,time,time_stamp
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,2025-03-27 18:52:03.311426

In [41]:
rac.to_csv('row races.csv',index=False)

# 6.

In [42]:
re=pd.read_json('results.json',lines=True)

In [43]:
re.head(1)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1

In [44]:
re.rename(columns={'resultId':'result_Id','raceId':'race_Id','driverId':'driver_Id','constructorId':'constructor_Id',
                  'positionOrder':'position_Order','milliseconds':'milli_seconds','positionText':'position_Text',
                  'fastestLap':'fastest_Lap','fastestLapTime':'fastest_Lap_Time','fastestLapSpeed':'fastest_Lap_Speed','statusId':'status_Id'},inplace=True)

In [45]:
re['time_stamp']=datetime.datetime.now()

In [46]:
re.head(2)

,result_Id,race_Id,driver_Id,constructor_Id,number,grid,position,position_Text,position_Order,points,laps,time,milli_seconds,fastest_Lap,rank,fastest_Lap_Time,fastest_Lap_Speed,status_Id,time_stamp
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1,2025-03-27 18:52:03.658473
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,2025-03-27 18:52:03.658473

In [47]:
re.to_csv('row_result.csv',index=False)