# Pandas Task

In [1]:
import pandas as pd

In [2]:
dir=pd.read_json('drivers.json',lines=True)

In [3]:
dir.head(2)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld

In [4]:
dir.drop('url',axis=1,inplace=True)

In [5]:
dir.rename(columns={'driverId':'driver_Id','driverRef':'driver_Ref'},inplace=True)

In [6]:
import datetime

In [7]:
dir['time_stamp']=datetime.datetime.now()

In [8]:
dir.head(2)

,driver_Id,driver_Ref,number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,2025-03-27 13:36:55.672304
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,2025-03-27 13:36:55.672304

In [9]:
d=dir['name'].values

In [10]:
diver_name=[]
for i in range(len(d)):
    diver_name.append(d[i]['forename'] +' '+ d[i]['surname'])

In [11]:
dir['name']=diver_name

In [12]:
dir.head(2)

,driver_Id,driver_Ref,number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,2025-03-27 13:36:55.672304
1,2,heidfeld,\N,HEI,Nick Heidfeld,1977-05-10,German,2025-03-27 13:36:55.672304

# Methode-2

In [100]:
dri=pd.read_json('drivers.json',lines=True)

In [101]:
dri.head(2)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld

In [102]:
dri.drop('url',inplace=True,axis=1)

In [103]:
dri.rename(columns={'driverId':'driver_Id','driverRef':'driver_Ref'},inplace=True)

In [104]:
dri['time_stamp'] = datetime.datetime.now()

In [105]:
dri.head(2)

,driver_Id,driver_Ref,number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,2025-03-27 14:29:50.514505
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,2025-03-27 14:29:50.514505

In [106]:
driver_name=dri['name']

In [107]:
driver_name.head(2)

0    {'forename': 'Lewis', 'surname': 'Hamilton'}
1     {'forename': 'Nick', 'surname': 'Heidfeld'}
Name: name, dtype: object

In [142]:
name=[]
for keys,values in driver_name.items():
    # print(values['forename']+' '+values['surname'])
    name.append(values['forename']+' '+values['surname'])

In [143]:
dir['name']=name

In [144]:
dir.head(2)

,driver_Id,driver_Ref,number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,2025-03-27 13:36:55.672304
1,2,heidfeld,\N,HEI,Nick Heidfeld,1977-05-10,German,2025-03-27 13:36:55.672304