# Pandas Task

In [1]:
import pandas as pd

In [2]:
dir=pd.read_json('drivers.json',lines=True)

In [3]:
dir.head(2)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld

In [4]:
dir.drop('url',axis=1,inplace=True)

In [5]:
dir.rename(columns={'driverId':'driver_Id','driverRef':'driver_Ref'},inplace=True)

In [6]:
import datetime

In [7]:
dir['time_stamp']=datetime.datetime.now()

In [8]:
dir.head(2)

,driver_Id,driver_Ref,number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,2025-03-27 13:36:55.672304
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,2025-03-27 13:36:55.672304

In [9]:
d=dir['name'].values

In [10]:
diver_name=[]
for i in range(len(d)):
    # n=d[i]['forename'] +' '+ d[i]['surname']
    # diver_name.append(n)    
    diver_name.append(d[i]['forename'] +' '+ d[i]['surname'])

In [11]:
dir['name']=diver_name

In [12]:
dir.head(2)

,driver_Id,driver_Ref,number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,2025-03-27 13:36:55.672304
1,2,heidfeld,\N,HEI,Nick Heidfeld,1977-05-10,German,2025-03-27 13:36:55.672304

In [13]:
dir['name']

0         Lewis Hamilton
1          Nick Heidfeld
2           Nico Rosberg
3        Fernando Alonso
4      Heikki Kovalainen
             ...
848    Pietro Fittipaldi
849          Jack Aitken
850         Yuki Tsunoda
851       Nikita Mazepin
852      Mick Schumacher
Name: name, Length: 853, dtype: object

In [39]:
dirv=pd.read_json('drivers.json',lines=True)

In [40]:
dirv.head(1)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [41]:
name=dirv['name']

In [42]:
name.head()

0       {'forename': 'Lewis', 'surname': 'Hamilton'}
1        {'forename': 'Nick', 'surname': 'Heidfeld'}
2         {'forename': 'Nico', 'surname': 'Rosberg'}
3      {'forename': 'Fernando', 'surname': 'Alonso'}
4    {'forename': 'Heikki', 'surname': 'Kovalainen'}
Name: name, dtype: object

In [43]:
type(name)

pandas.core.series.Series

In [55]:
# for i in  range(len(name)):
#     print(i.value())
#     # dir_name=(name[i].values())
#     # pass
#     # dir_name.join()
#     print(type(dir_name))
    
    
# print(name[i].items())

for key , value in name.items():
    print(key,value,"====")

0         {'forename': 'Lewis', 'surname': 'Hamilton'}
1          {'forename': 'Nick', 'surname': 'Heidfeld'}
2           {'forename': 'Nico', 'surname': 'Rosberg'}
3        {'forename': 'Fernando', 'surname': 'Alonso'}
4      {'forename': 'Heikki', 'surname': 'Kovalainen'}
                            ...
848    {'forename': 'Pietro', 'surname': 'Fittipaldi'}
849          {'forename': 'Jack', 'surname': 'Aitken'}
850         {'forename': 'Yuki', 'surname': 'Tsunoda'}
851       {'forename': 'Nikita', 'surname': 'Mazepin'}
852      {'forename': 'Mick', 'surname': 'Schumacher'}
Name: name, Length: 853, dtype: object

In [27]:
type(name.values)

numpy.ndarray