In [1]:
import pandas as pd

# 1

In [2]:
circuits=pd.read_csv('row_circuit.csv')

In [3]:
circuits.head(1)

,circuit_Id,circuit_Ref,name,location,country,lat,lng,alt,time_stamp
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10,2025-03-27 15:32:07.600990

# 2.

In [4]:
races=pd.read_csv('row races.csv')

In [5]:
races.head(1)

,race_Id,year,round,circuit_Id,race_name,date,time,time_stamp
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,2025-03-27 18:52:03.311426

# 3.

In [53]:
drivers=pd.read_csv('row_drivers.csv')

In [55]:
drivers.rename(columns={'number':'driver_number'},inplace=True)

In [56]:
drivers.head(1)

,driver_Id,driver_Ref,driver_number,code,name,dob,nationality,time_stamp
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,2025-03-27 15:48:35.704977

# 4.

In [8]:
results=pd.read_csv('row_result.csv')

In [9]:
results.head(1)

,result_Id,race_Id,driver_Id,constructor_Id,number,grid,position,position_Text,position_Order,points,laps,time,milli_seconds,fastest_Lap,rank,fastest_Lap_Time,fastest_Lap_Speed,status_Id,time_stamp
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1,2025-03-27 16:12:40.941284

# 5.

In [10]:
constructors=pd.read_csv('row_constructors.csv')

In [11]:
constructors.head(1)

,constructor_Id,constructor_Ref,name,nationality,time_stamp
0,1,mclaren,McLaren,British,2025-03-27 15:38:24.620840

# step-2

In [13]:
race_name=races['race_name']

In [106]:
ra_name=pd.DataFrame(race_name).head(77)

In [107]:
len(ra_name)

77

In [108]:
race_year=races['year']

In [109]:
ra_year=pd.DataFrame(race_year).head(77)

In [110]:
len(ra_year)

77

In [111]:
circuits_location=circuits['location']

In [112]:
ca_location=pd.DataFrame(circuits_location)#.head(10)

In [113]:
len(ca_location)

77

In [22]:
race_date=races['date']

In [114]:
ra_date=pd.DataFrame(race_date).head(77)

In [115]:
len(ra_date)

77

In [116]:
driver_name=drivers['name'].head(77)

In [117]:
len(driver_name)

77

In [118]:
dr_name=pd.DataFrame(driver_name).head(77)

In [119]:
len(dr_name)

77

In [120]:
# team=[]
driver_number=drivers['driver_number']

In [122]:
dr_number=pd.DataFrame(driver_number).head(77)

In [123]:
len(dr_number)

77

In [124]:
drivers_nationality=drivers['nationality']

In [125]:
dri_nationality=pd.DataFrame(drivers_nationality).head(77)

In [126]:
len(dri_nationality)

77

In [127]:
drivers_position = results['position']

In [128]:
dr_position=pd.DataFrame(drivers_position).head(77)

In [129]:
len(dr_position)

77

In [130]:
fastest_lap=results['fastest_Lap']

In [133]:
fa_lap=pd.DataFrame(fastest_lap).head(77)

In [134]:
len(fa_lap)

77

In [100]:
race_time=races['time']

In [136]:
ra_time=pd.DataFrame(race_time).head(77)

In [137]:
len(ra_time)

77

In [138]:
points=results['points']

In [139]:
point=pd.DataFrame(points)#.head(10)

In [140]:
len(point)

24960

In [141]:
team=ra_name.join(ra_year).join(ca_location).join(ra_date).join(dr_name).join(dr_number).join(dri_nationality).join(dr_position).join(fa_lap).join(ra_time).join(point)
# (ra_name).join(ra_year)

In [142]:
team

,race_name,year,location,date,name,driver_number,nationality,position,fastest_Lap,time,points
0,Australian Grand Prix,2009,Melbourne,2009-03-29,Lewis Hamilton,44,British,1,39,06:00:00,10.0
1,Malaysian Grand Prix,2009,Kuala Lumpur,2009-04-05,Nick Heidfeld,\N,German,2,41,09:00:00,8.0
2,Chinese Grand Prix,2009,Sakhir,2009-04-19,Nico Rosberg,6,German,3,41,07:00:00,6.0
3,Bahrain Grand Prix,2009,Montmeló,2009-04-26,Fernando Alonso,14,Spanish,4,58,12:00:00,5.0
4,Spanish Grand Prix,2009,Istanbul,2009-05-10,Heikki Kovalainen,\N,Finnish,5,43,12:00:00,4.0
...,...,...,...,...,...,...,...,...,...,...,...
72,Bahrain Grand Prix,2005,Baku,2005-04-03,Ricardo Rosset,\N,Brazilian,7,48,14:30:00,2.0
73,San Marino Grand Prix,2005,Hanoi,2005-04-24,Esteban Tuero,\N,Argentine,8,45,14:00:00,1.0
74,Spanish Grand Prix,2005,Portimão,2005-05-08,Shinji Nakano,\N,Japanese,9,21,14:00:00,0.0
75,Monaco Grand Prix,2005,Mugello,2005-05-22,Jan Magnussen,\N,Danish,10,40,14:00:00,0.0
76,European Grand Prix,2005,Jeddah,2005-05-29,Gerhard Berger,\N,Austrian,11,57,14:00:00,0.0

In [ ]:
# team.join(dr_location)

In [ ]:
# (ra_name,ra_year,ca_location,ra_date,dr_name).apply(join)

In [143]:
team.to_csv('race_results.csv',index=False)